@use "modals.scss";

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  // border: 1px solid white;

  display: flex;
  flex-direction: column;
  height: 100dvh;
}

body {
  // border: 1px solid white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  // text-align: center;
  margin: 0 auto;
  // height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 320px;
  max-width: 1280px;
}

.main {
  // border: 1px solid white;
  display: flex;
  flex-grow: 1;
  // flex-basis: 100%;
  // height: 100%;
  min-height: 50dvh;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  // align-self: stretch;
  // display: flex;
  // flex-direction: column;
  // min-height: 100%;
}

.modal-container {
}

.is-loading {
  margin-top: 3em;
  font-weight: 700;
}

header {
  align-self: stretch;

  display: flex;
  flex-direction: column;
  background: #ed1e24;
  .logo-container {
    display: flex;
    flex-direction: row;
    height: 5em;
    justify-content: center;
    // border: 1px solid white;
    // align-items: center;
    overflow: hidden;
    img {
      flex-grow: 0;
      // border: 1px solid white;
      height: 100%;
    }
  }
  nav {
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    .header-navigator {
      min-width: 6em;
      height: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // border: 1px solid white;
      border-radius: 10px;
      &:hover {
        background: #dddddd;
      }
    }
    .on {
      color: #ed1e24;
      background: white;
    }
    .off {
      color: white;

      border: 1px solid white;
    }
  }
}

a {
  font-weight: 500;

  text-decoration: inherit;
}
a:hover {
  cursor: pointer;
}

h1 {
  // width: 100dvw;
  font-size: 1.2em;
  font-weight: 700;
}

h2 {
  margin-top: 2em;
  font-size: 1.2em;
  font-weight: 700;
}

// HOME
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

// GALLERY
.gallery {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;

  .article {
    // border: 1px solid white;
    background: #000;
    position: relative;
    // text-align: right;
    // padding: 1em;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;
    width: 150px;
    margin-bottom: 1em;
    overflow: hidden;

    .item-title {
      font-weight: 700;
      line-height: 1.5em;
      height: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .item-description {
      display: flex;
      justify-content: left;
      // align-items: center;
      font-size: 0.9em;
      line-height: 1.5em;
      height: 4.5em;
      // max-height: 4.5em;
      overflow: hidden;
      // text-overflow: ellipsis;
      // max-width: 10em;
      // white-space: nowrap;
    }

    .item-title-image-not-available {
      position: absolute;
      top: 0;
      background: #000;
      font-weight: 700;
      line-height: 1.5em;
      z-index: 10;
      width: 100%;
      justify-content: center;
      display: flex;
    }
    .comic-thumbnail-container {
      // height: 233px;
      display: flex;
      // flex-direction: column;
      aspect-ratio: 2/3;
      justify-content: center;
      align-items: center;
      height: 100%;
      overflow: hidden;

      &:hover {
        transform: scale(105%);
        transition-duration: 0.3s;
        transition-property: transform;
      }

      img {
        object-position: left;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .character-thumbnail-container {
      // height: 233px;
      // border: 1px solid white;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1/1;
      height: 100%;
      overflow: hidden;
      &:hover {
        transform: scale(105%);
        transition-duration: 0.3s;
        transition-property: transform;
      }

      img {
        object-position: center left;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

// border: 3px solid white;

.search-form {
  margin-top: 1em;
  width: 100%;
  input {
    width: 60%;
    max-width: 30em;
    &::placeholder {
      font-size: 0.95em;
    }
  }
}

.save-icon-container {
  color: red;
  text-shadow: #61dafbaa;
  background: #000;
  width: 1.1em;
  height: 1em;
  padding: 0 0 0 0.1em;
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
  border-radius: 0.5em 0 0 0;

  &:hover {
    cursor: pointer;
  }
}

.pagination {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1.2em;
  .button:hover {
    cursor: pointer;
  }
  .disabled {
    color: gray;
  }
}

// COMIC PAGE
.comic-page {
  margin: 1em 0 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .comic-thumbnail-container {
    // width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    position: relative;
    overflow: hidden;
    img {
      // width: 100%;
      &:hover {
        transform: scale(103%);
        transition-duration: 0.3s;
        transition-property: transform;
      }
    }
  }
  .comic-title {
    margin-top: 0.5em;
    font-weight: 700;
    font-size: 1.5em;
  }
  .comic-description {
    margin-top: 0.5em;
    line-height: 1.5em;
    padding: 0 1em;
    text-align: justify;
    width: 100%;
    &::first-letter {
      font-size: 2em;
    }
  }
  h2 {
    margin-top: 1em;
    font-weight: 700;
    font-size: 1.2em;
  }
}

// CHARACTER PAGE

.character-page {
  margin: 1em 0 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .character-thumbnail-container {
    position: relative;
    font-size: 1.5em;
    // height: 233px;
    img {
      // width: 100%;
      &:hover {
        transform: scale(103%);
        transition-duration: 0.3s;
        transition-property: transform;
      }
    }
  }

  .character-name {
    margin-top: 0.5em;
    font-weight: 700;
    font-size: 1.5em;
  }
  .character-description {
    margin-top: 0.5em;
    line-height: 1.5em;
    padding: 0 1em;
    text-align: justify;
    width: 100%;
    &::first-letter {
      font-size: 2em;
    }
  }
  h2 {
    margin-top: 1em;
    font-weight: 700;
    font-size: 1.2em;
  }
  .character-appearances-section {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.login-form {
  margin: 2em auto;
  width: 15em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  .button {
    width: 5em;
    text-transform: capitalize;
    text-align: center;
  }
  .change-action {
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
}

.error-message {
  color: red;
}

.logout-button {
  margin-top: 3em;
}

.back-button {
  // border: 1px solid white;
  font-weight: 700;
  margin: 1em;
  // max-width: 640px;
  // width: 100%;
  // text-align: left;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
