@use "modals.scss";

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;

  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  // background: red;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  // align-self: stretch;
  // display: flex;
  // flex-direction: column;
  // min-height: 100%;
}

.modal-container {
}

header {
  align-self: stretch;

  display: flex;
  flex-direction: column;
  background: #ed1e24;
  .logo-container {
    // border: 1px solid white;
    height: 5em;
    display: flex;
    justify-content: center;
    img {
      height: 100%;
    }
  }
  nav {
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    .header-navigator {
      min-width: 6em;
      height: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // border: 1px solid white;
      border-radius: 10px;
      &:hover {
        background: #dddddd;
      }
    }
    .on {
      color: #ed1e24;
      background: white;
    }
    .off {
      color: white;

      border: 1px solid white;
    }
  }
}

a {
  font-weight: 500;
  // color: #646cff;
  text-decoration: inherit;
}
a:hover {
  // color: #535bf2;
}

.test1:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
  // filter: drop-shadow(0 0 2em #646cffaa);
  transition: filter 200ms;
}
.test2:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  transition: filter 200ms;
}

// GALLERY
.gallery {
  padding: 2em;
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;

  .article {
    // border: 1px solid white;
    background: #000;
    position: relative;
    // text-align: right;
    // padding: 1em;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-start;
    // align-items: center;
    width: 150px;
    margin-bottom: 1em;
    overflow: hidden;

    .comic-article {
      // height: 350px;
    }
    .character-article {
      // height: 250px;
    }

    .item-title {
      font-weight: 700;
      line-height: 1.5em;
      height: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid white;
    }
    .item-description {
      display: flex;
      justify-content: left;
      // align-items: center;
      font-size: 0.9em;
      line-height: 1.5em;
      height: 4.5em;
      // max-height: 4.5em;
      overflow: hidden;
      // text-overflow: ellipsis;
      // max-width: 10em;
      // white-space: nowrap;
    }
    .comic-thumbnail-container {
      height: 233px;
      .comic-thumbnail {
        // margin-top: 1em;
        object-fit: fill;
        img {
          // width: 100%;
        }
      }
    }

    .character-thumbnail-container {
      // height: 300px;
      aspect-ratio: 1/1;
      overflow: hidden;

      img {
        object-fit: cover;
        object-position: center left;
        width: 100%;
        height: 100%;
      }
    }
  }
}

// border: 3px solid white;

.search-form {
  margin-top: 1em;
  width: 100%;
  input {
    width: 60%;
    max-width: 30em;
    &::placeholder {
      font-size: 0.95em;
    }
  }
}

.save-icon-container {
  color: red;
  text-shadow: #61dafbaa;
  background: #000;
  width: 1.1em;
  height: 1em;
  padding: 0 0 0 0.1em;
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
  border-radius: 10px 0 0 0;
  &:hover {
    cursor: pointer;
  }
}

.pagination {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1.2em;
  .button:hover {
    cursor: pointer;
  }
  .disabled {
    color: gray;
  }
}

// COMIC PAGE
.comic-page {
  margin: 1em 0 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .comic-thumbnail-container {
    // width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    position: relative;
    img {
      // width: 100%;
    }
  }
  .comic-title {
    margin-top: 0.5em;
    font-weight: 700;
    font-size: 1.5em;
  }
  .comic-description {
    margin-top: 0.5em;
    line-height: 1.5em;
    padding: 0 1em;
    text-align: justify;
    width: 100%;
    &::first-letter {
      font-size: 2em;
    }
  }
  h2 {
    margin-top: 1em;
    font-weight: 700;
    font-size: 1.2em;
  }
  .character-appearances-section {
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .character-appearance-title {
    background: #000;

    font-size: 0.7em;
    overflow: hidden;
  }
  .character-appearance {
    // border: 1px solid white;
    width: 100px;
    // height: 150px;
    height: calc(150px + 1em);
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// CHARACTER PAGE

.character-page {
  margin: 1em 0 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .character-thumbnail-container {
    position: relative;
    font-size: 1.5em;
    // height: 233px;
    img {
      // width: 100%;
    }
  }

  .character-name {
    margin-top: 0.5em;
    font-weight: 700;
    font-size: 1.5em;
  }
  .character-description {
    margin-top: 0.5em;
    line-height: 1.5em;
    padding: 0 1em;
    text-align: justify;
    width: 100%;
    &::first-letter {
      font-size: 2em;
    }
  }
  h2 {
    margin-top: 1em;
    font-weight: 700;
    font-size: 1.2em;
  }
  .character-appearances-section {
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .character-appearance {
    // border: 1px solid white;
    width: 100px;
    // height: 150px;
    height: calc(150px + 1em);
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .character-appearance-title {
    background: #000;

    font-size: 0.7em;
    overflow: hidden;
  }
}
