@use "modals.scss";

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;

  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  // background: red;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  // align-self: stretch;
  // display: flex;
  // flex-direction: column;
  // min-height: 100%;
}

.modal-container {
}

header {
  align-self: stretch;

  display: flex;
  flex-direction: column;
  background: #ed1e24;
  .logo-container {
    // border: 1px solid white;
    height: 5em;
    display: flex;
    justify-content: center;
    img {
      height: 100%;
    }
  }
  nav {
    margin: 1em 0;
    display: flex;
    justify-content: space-around;
    gap: 2em;
    .header-navigator {
      color: #ed1e24;
      background: white;
      min-width: 7em;
      height: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // border: 1px solid white;
      border-radius: 10px;
      &:hover {
        background: #dddddd;
      }
    }
  }
}

a {
  font-weight: 500;
  // color: #646cff;
  text-decoration: inherit;
}
a:hover {
  // color: #535bf2;
}

.test1:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
  // filter: drop-shadow(0 0 2em #646cffaa);
  transition: filter 200ms;
}
.test2:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  transition: filter 200ms;
}

.gallery {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;

  .article {
    border: 1px solid white;
    background: #000;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(150px + 2em);
    margin-bottom: 1em;

    .title {
      font-weight: 700;
    }
    .description {
      font-size: 0.9em;
      max-height: 4.5em;
      overflow: hidden;
      // text-overflow: ellipsis;
      // max-width: 10em;
      // white-space: nowrap;
    }
    .thumbnail {
      margin-top: 1em;
      img {
        width: 100%;
      }
    }
  }
}

.comic-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
